body {
    background-color: #FFFBF9;
    font-family: 'Italiana', serif;
    color: #4F3E37;
}

@font-face {
    font-family: 'Italiana';
    src: url(fonts/Italiana-Regular.ttf);
}

h1 {
    font-size: 48px;
    text-align: center;
}

h2 {
    font-size: 36px;
    text-align: left;
    margin-left: 50px;
}

p {
    font-size: 30px;
    margin-left: 50px;
}

#introslide {
    z-index: 1;
    text-align: center;
    vertical-align: middle;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #FFFBF9;
    width: 100vw;
    height: 100vh;
}

#introslide-text {
    margin-top: 60px;
}

#intropic {
    width: 700px;
    border-radius: 60px;
}

.animated {
    -webkit-animation-duration: 7s;animation-duration: 7s;
    -webkit-animation-fill-mode: both;animation-fill-mode: both;
 }

@-webkit-keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

 @keyframes fadeOut {
    0% {opacity: 1;}
    100% {opacity: 0;}
 }

.fadeOut {
    -webkit-animation-name: fadeOut;
    animation-name: fadeOut;
}

#navbar {
    text-align: center;
    overflow: hidden;
}

#navbar a {
    font-family: 'Italiana', serif;
    font-size: 33px;
    text-align: center;
    color: #4F3E37;
    padding: 120px;
    text-decoration: none;
}

#navbar a:hover {
    text-decoration: underline;
}

#navbar .selected {
    font-style: oblique;
}

#intro {
    width: 700px;
}

hr {
    color:#4F3E37;
}

hr.light {
    color: #e2deda;
    border: solid 0.5px;
}

.countdown {
    z-index:0;
}

#exitPopUp {
    margin-left: 80%;
    background-color: #FFFBF9;
    color: #4F3E37;
    border: none;
    font-size: 50px;
}

#exitPopUp:hover {
    text-shadow: 2px 2px 5px #e2deda;
    cursor: pointer;
}

#exitPopUp:active {
    text-shadow: 2px 2px 5px #e2deda;
    transform: translate(2px, 2px);
}

audio {
    margin-left: 50px;
}

audio::-webkit-media-controls-panel {
    background-color: #ccbfba;
}

audio::-webkit-media-controls-current-time-display {
    font-family: 'Italiana', serif;
    font-size: 17px;
}

audio::-webkit-media-controls-time-remaining-display {
    font-family: 'Italiana', serif;
    font-size: 17px;
}

.composer {
    font-size: 20px;
    font-style: italic;
    margin-top: -25px;
    color: #4F3E37;
}

#musictable {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

#musictable th, td {
    padding: 20px;
}

#waves {
    margin-left: 80px;
    opacity: 0.12;
    position: absolute;
}

#letter {
    display: inline-block;
}

#letter h1 {
    float: left;
}

#letter p {
    float: left;
}

#map {
    height: 450px;
    float: right;
    margin-left: 200px;
    margin-top: -125px;
}

#box {
    margin-left: 250px;
}